#timer {
    box-sizing: border-box;
    font-size:400px;
    margin:0;
    padding: 0%;
    width:1000px;
    font-size: 7em;
    font-family: arial;
    position: absolute;
    text-align: center;
   top: 27%;
   left: 61%;
   right: -2%;
    transform: translate(-60%);
  }
  html,body {
      height: 100%;
      margin: 0%;
  }
  body {
      background-color:grey;
align-items: center;
display: flex;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #controls {
    margin:0 auto;
    width:700px;    
  }
  
  #controls button {
      
      padding: 0%;
      
     margin: 0%;
      text-align: center;
      font-family: arial;
      top: 45%;
      left: 55%;
    font: size 150px
    transform: translate(-70%);
  }
  #label{
font-size: 150%;

  }